@import '../../../../styles.scss';

* {
  margin: 0;
  padding: 0;
}

.upperheader, .highlight{
  color: $theme-blue;
  font-weight: 400;
}

.subheader {
  color: $theme-grey;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 8px;
}

.content-container {
  width: 100%;
  height: auto;

  .hero {
    width: 100%;
    height: 400px;
    display: grid;
    

    .group {
      margin-top: 15vh;
    }

    .link {
      margin-bottom: 20px;
      margin-left: 15px;
      font-size: 16px;
    }

    .text-box {
      height: fit-content;
      min-width: 200px;
      max-width: 60%;
      margin-bottom: 10px;
    }
  }

  .title {
    margin-bottom: 20px;
  }

  .group {
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;

    h1, h2, h3, h4, h5, h6, .wrapper {
      flex-basis: 100%;
      text-align: left;
    }
  }

  .section {
    width: 100%;
    margin-top: 10vh;
  }

  .link {
    color: $theme-blue;
    text-decoration: none;
    
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 901px) {
  .hero {
    grid-template-columns: minmax(500px, 50vw) minmax(300px, 20vw);

    .link-group {
      margin-top: 15vh;
    }
  }
}

@media screen and (max-width: 900px) {
  .hero {
    .group {
      grid-column: 1 / span 2;

      .subheader {
        flex-basis: 100%;
      }
    }

    .link-group {
      display: none;
    }
  }
}