<div class="hero">
  <div class="group">
    <h3 class="upperheader" style="color:white">April 1st, 2022</h3>
    <h1 class="section-title">J.B. Hunt Hackathon</h1>
    <div class="wrapper">
      <h4 class="subheader text-box" style="color:#ffffff">Create or join a team and showcase what you can create together in just 24 hours.</h4>
    </div>
    <button class="btn btn-yellow" style="color:black" (click)="navigate();">Sign Up</button>
  </div>
  <img class="homepage-illustration" src="../../../../assets/svg/HomePage_Assets/homepage-illustration.svg" alt="homepage illustration">
  <div class="blue-banner"></div>
  <img class="rubber-duck" (click)="moveDuck($event.target)" src="../../../../assets/svg/HomePage_Assets/duck.png" alt="duck">
</div>