<div class="special-group">
    <div class="input-container">
        <input id="input-1" readonly type="text" class="code-input" (keydown)="inputKeyDown($event, 1)">
        <input id="input-2" readonly type="text" class="code-input" (keydown)="inputKeyDown($event, 2)">
        <input id="input-3" readonly type="text" class="code-input" (keydown)="inputKeyDown($event, 3)">
        <input id="input-4" readonly type="text" class="code-input" (keydown)="inputKeyDown($event, 4)">
        <input id="input-5" readonly type="text" class="code-input" (keydown)="inputKeyDown($event, 5)">
        <input id="input-6" readonly type="text" class="code-input" (keydown)="inputKeyDown($event, 6)">
    </div>
</div>