<div class="experience-section">
  <div class="group">
    <h2 class="section-title">Experience and exposure</h2>
  </div>
  <div class="split">
    <p class="text-box">During the Hackathon, participants gain
      experience brainstorming and programming
      with a team. <span class="highlight"> Collaboration is crucial to
      innovation and productivity.</span> 
    </p>
    <p>
      Showcase your ideas and abilities to
      <span class="highlight"> a panel of J.B. Hunt representatives.</span>
      Program to impress and have
      a resume handy.
    </p>
  </div>
</div>