@import '../../../..//styles.scss';

.hidden {
  display: none !important;
}

* {
    margin: 0;
    padding: 0;
}

.exit-button-container {
  width: 100%;
  padding-left: 2em;
  padding-top: 1em;
}

.edit-button-container {
    z-index: 1;
    padding: 3em 2em;
    position: fixed;
    bottom: 0;
}
  
.editor-button-container {
    z-index: 2;
    padding: 1em 2em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-button-container {
    z-index: 3;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
  
.btn-yellow-elevated {
    transition: 0.1s ease-out;
    background-color: #FFDD00;
    box-shadow: 0 4px 0 #ffae00, 1px 2px 10px #707070;
    border: 0px;
    color: #000000
}
  
.btn-gray {
    transition: 0.1s ease-out;
    box-shadow: 0 4px 0 #808080, 1px 2px 10px #707070;
    border: none;
    color: #000000;
    height: fit-content;
}
  
.btn-darkblue {
    transition: 0.1s ease-out;
    background-color: #0288CC;
    color: #ffffff;
    border: #0288CC;
    box-shadow: 0 4px #07496b, 1px 2px 14px #40BFFD;
    height: fit-content;
}
  
.btn-add {
    border-radius: 50%;
    margin: 0.25em;
    height: 70px;
    font-size: 32px;
    width: 70px;
}

.btn-exit {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
  
  
.btn-darkblue:enabled:active {
    box-shadow: 0 0 0 #07496b;
    transform: translateY(4px);
}
  
.btn-gray:enabled:active {
    box-shadow: 0 0 0 #808080;
    transform: translateY(4px);
}
  
.btn-yellow-elevated:enabled:active {
    box-shadow: 0 0 0 #ffae00;
    transform: translateY(4px);
}

.prize-form-container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 20vw;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;

    .single-field {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 0.5em 5em;
      box-sizing: border-box;
      border-radius: 0.5em;

      input.ng-touched.ng-invalid, select.ng-touched.ng-invalid {
        border: 0.15em solid #e30b00;
        box-shadow: 0px 0px 10px #ffbcb9;

        &:focus {
            background-color: #ffffff33;
            box-shadow: 0px 0px 10px #FFFFFFA8;
            outline: none;
        }
    }
  
      input {
          margin-top: 0.15em;
          width: 100%;
          box-sizing: border-box;
          padding: 5px;
          border: 0.15em solid black;
          border-radius: 0.5em;
          color: black;
          background-color: transparent;
  
          &:focus {
              background-color: #ffffff33;
              box-shadow: 0px 0px 10px #707070;
              outline: none;
          }
      }
  
      .form-select-quarter {
          color: #ffffff !important;
          cursor: pointer;
          width: 30%;
      }
  }

.center {
    justify-content: center;
    padding: 1.5em;
}

label {
    margin-left: 0.5em;
    white-space: nowrap;
}

.error {
    white-space: unset;
    color: #e30b00;
    background-color: #ffbcb9;
    border-radius: 0.5em;
    padding: 0 0.5rem;
  }
}

.hero {
    width: 100%;
    height: fit-content;
    display: grid;

    .group {
        margin-top: 140px;

        h1, h2, h3, h4, h5 {
            margin-bottom: 8px;
          }
          
        h1 {
            margin-top: 20px;
        }
        .text-box {
            height: fit-content;
            min-width: 200px;
            max-width: 60%;
            margin-bottom: 10px;
        }

        .subheader {
            color: $theme-grey;
        }
    }
}

.form {
  display: flex;
  grid-row: 2;
  grid-column: 2;
  height: 60%;
  width: 60%;
  position: fixed;  
  z-index: 3;
}

.forms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  opacity: 1;
  width: 100%;
  height: 100%;
  padding: 0.5em;

  .head {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    grid-column: 2;
    height: 90px;
    width: 100%;
    text-align: center;
  }

  .title {
      border-bottom: 0.15em solid black;
      padding: 0.25em 3em;
  }
}

.prizes-banner {
  /* Layout Properties */
  position: absolute;
  top: -89px;
  left: -543.578125px;
  width: 1396px;
  height: 550px;
  padding: 0 21vw;
  z-index: -2;
  transform: matrix(-0.99, 0.1, -0.1, 0.99, 0, 0);

  /* UI Properties */

  background: transparent linear-gradient(70deg, #40BFFD 0%, var(--unnamed-color-0288cc) 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(70deg, #40BFFD 0%, #0288CC 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.prizes {
  margin: 200px 0;
  position: relative;
  height: 550px;
}

.prizes-card {
  width: 60vw;
  height: 300px;
  border-radius: 24px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  color: $theme-white;

  .upperheader {
    height: 70px;
  }
}

.row {
    display: flex;
}

.prizes-section {
  text-align: center;
  padding: 0 2em;

  .subheader {
    padding-top: 0.5em;
  }

  .price {
    font-size: 12px;
  }
}

.upperheader {
  color: $theme-white;
  letter-spacing: 0px;
  font-size: 24px;
  height: 25px;
  margin-top: 4vh;
}

.ng-tns-c3-1 {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.32px;
  opacity: 1;
  color: $theme-white;
}

.prizes-title {
  flex-basis: 100%;
  position: relative;
  // top: 160px;
  min-width: 300px;
  color: $theme-white;
}

.top-yellow-bar {
  position: absolute;
  margin-top: -191px;
  left: 900px;
  transform: rotate(0.3deg);
  overflow-x: hidden;

}

.bottom-yellow-bar {
  position: absolute;
  top: 402.5px;
  left: -530px;
  transform: rotate(0.3deg);
  overflow-x: hidden;
}

hr {
  border: 1px solid white;
  margin-top: 2.5vh;
  width: 120px;
}

@media screen and (max-width: 1100px) {
  hr {
    border: 0px;
  }

  .vl {
    border-left: 2px solid white;
    height: 50px;
    position: absolute;
    margin-left: 100px;
    margin-top: 2.5vh;
  }

  .upperheader {
    margin-left: 0vw;
  }

  p {
    margin-top: 2.5vh;
  }

  .prizes-section {
    display: flex;
    width: 220px;
    justify-self: center;
  }
}

@media screen and (max-width: 733px) {
  .prizes-banner {
    height: 680px;
  }

  .prizes {
    height: 690px;
  }

  .prizes-section {
    display: flex;
    justify-self: center;
  }
}

@media screen and (max-width: 1682px) {
  .bottom-yellow-bar {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .prizes-section {
    width: 190px;
  }
}