<div class="content-container">
    <div class="hero">
        <div class="group">
          <h1>Prizes</h1>
          <h4 class="subheader text-box" style="margin-bottom: 30px">To motivate you for the competition</h4>
        </div>
    </div>
    <div class="prizes">
        <img class="top-yellow-bar" src="../../../../assets/svg/HomePage_Assets/top-yellow-bar.svg" alt="top yellow bar">
        <img class="bottom-yellow-bar" src="../../../../assets/svg/HomePage_Assets/bottom-yellow-bar.svg" alt="bottom yellow bar">
        <div class="prizes-card">
            <div class="row">
                <div class="prizes-section">
                    <a target="_blank" href="https://www.meta.com/quest/products/quest-2/?utm_source=gg&utm_medium=pla&utm_campaign=19822518373&utm_term=&utm_content=&utm_ad=&utm_location=1013219&utm_location2=&utm_placement=&utm_device=c&utm_matchtype=&utm_feed=&utm_adposition=&utm_product=899-00451-01&gclid=CjwKCAjw586hBhBrEiwAQYEnHc84fPf16aG8t8ANHZI7pXDnN02v9bu2Lzv8AfSg_48bLQY3v7-mPBoCe1wQAvD_BwE&gclsrc=aw.ds">
                        <img class="upperheader" src="../../../../assets/image/prizes/quest.png">
                    </a>
                    <hr><div class="vl"></div>
                    <p class="subheader">Quest 2<br><small class="price">$400</small></p>
                </div>
                <div class="prizes-section">
                    <a target="_blank" href="https://www.amazon.com/Apple-MWP22AM-A-AirPods-Pro/dp/B07ZPC9QD4?source=ps-sl-shoppingads-lpcontext&ref_=fplfs&psc=1&smid=A1KWJVS57NX03I">
                        <img class="upperheader" src="../../../../assets/image/prizes/airpods.png">
                    </a>
                    <hr><div class="vl"></div>
                    <p class="subheader">AirPod Pros<br><small class="price">$220</small></p>
                </div>
                <div class="prizes-section">
                    <a target="_blank" href="https://www.amazon.com/Comgrow-Creality-Ender-Aluminum-220x220x250mm/dp/B07BR3F9N6/ref=sr_1_3?hvadid=651211677284&hvdev=c&hvlocphy=1013219&hvnetw=g&hvqmt=e&hvrand=1243685008319196557&hvtargid=kwd-27379605978&hydadcr=986_1015116230&keywords=3d+printing+machines+for+sale&qid=1681164205&s=industrial&sr=1-3&ufe=app_do%3Aamzn1.fos.f5122f16-c3e8-4386-bf32-63e904010ad0">
                        <img class="upperheader" src="../../../../assets/image/prizes/3d-printer.png">
                    </a>
                    <hr><div class="vl"></div>
                    <p class="subheader">3D Printers<br><small class="price">$179</small></p>
                </div>
                <div class="prizes-section">
                    <a target="_blank" href="https://www.amazon.com/Samsung-Business-Computer-DisplayPort-S24R650FDN/dp/B082X46ZGD/ref=sr_1_13?crid=YD2NBDVZZ61M&keywords=samsung+monitor&qid=1681164279&sprefix=samsung+monit%2Caps%2C128&sr=8-13&ufe=app_do%3Aamzn1.fos.f5122f16-c3e8-4386-bf32-63e904010ad0">
                        <img class="upperheader" src="../../../../assets/image/prizes/monitor.png">
                    </a>
                    <hr><div class="vl"></div>
                    <p class="subheader">Monitors<br><small class="price">$195</small></p>
                </div>
            </div>
            <div class="row">
                <div class="prizes-section">
                    <a target="_blank" href="https://www.amazon.com/dp/B081415GCS/ref=redir_mobile_desktop?_encoding=UTF8&aaxitk=1d7bd81755bf65574df0118fbed69d0a&content-id=amzn1.sym.7dd77237-72be-4809-b5b5-d553eab7ad9d%3Aamzn1.sym.7dd77237-72be-4809-b5b5-d553eab7ad9d&hsa_cr_id=4658960260301&pd_rd_plhdr=t&pd_rd_r=7b122044-3ca4-4303-b570-785998c7b972&pd_rd_w=6WD2F&pd_rd_wg=PpddQ&qid=1681164374&ref_=sbx_be_s_sparkle_lsi4d_asin_2_title&sr=1-3-9e67e56a-6f64-441f-a281-df67fc737124&th=1">
                        <img class="upperheader" src="../../../../assets/image/prizes/headphones.png">
                    </a>
                    <hr><div class="vl"></div>
                    <p class="subheader">Headphones<br><small class="price">$150</small></p>
                </div>
                <div class="prizes-section">
                    <a target="_blank" href="https://www.amazon.com/Logitech-Mechanical-Gaming-Keyboard-Tactile/dp/B07P1DHN65/ref=sr_1_1_sspa?crid=2K60896PI86F0&keywords=logitech%2Bkeyboard&qid=1681164491&s=electronics&sprefix=logitech%2Bkeyboar%2Celectronics%2C244&sr=1-1-spons&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFJMVpESUhCTlFJV0wmZW5jcnlwdGVkSWQ9QTA3NzQxNjMzTkNaVzQ2RDhOTkNZJmVuY3J5cHRlZEFkSWQ9QTA4MjE5OTAxQThJMVRKNzNCQ0RCJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ&th=1">
                        <img class="upperheader" src="../../../../assets/image/prizes/keyboard.png">
                    </a>
                    <hr><div class="vl"></div>
                    <p class="subheader">Keyboards<br><small class="price">$170</small></p>
                </div>
                <div class="prizes-section">
                    <a target="_blank" href="https://www.amazon.com/Logitech-MX-Master-3S-Graphite/dp/B09HM94VDS/ref=sr_1_2_sspa?crid=1DATKPLJG1MCC&keywords=logitech%2Bmouse&qid=1681164556&s=electronics&sprefix=logitech%2Bmous%2Celectronics%2C157&sr=1-2-spons&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFKUTI5WUdTS0VWTEQmZW5jcnlwdGVkSWQ9QTAzNjUzMzcyNU9DTklPNVJCQURYJmVuY3J5cHRlZEFkSWQ9QTAzODM0NjkyNlg4UUREQzJFNFg2JndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ&th=1">
                        <img class="upperheader" src="../../../../assets/image/prizes/mouse.png">
                    </a>
                    <hr><div class="vl"></div>
                    <p class="subheader">Mice<br><small class="price">$100</small></p>
                </div>
                <div class="prizes-section">
                    <a target="_blank" href="https://store-usa.arduino.cc/products/arduino-starter-kit-multi-language?gclid=CjwKCAjw586hBhBrEiwAQYEnHQfWE8im94TSTxiAPc3ZxowRrGdVrRs2lSbl_mKCXV4N1md0U7fcShoCO04QAvD_BwE">
                        <img class="upperheader" src="../../../../assets/image/prizes/arduino.png">
                    </a>
                    <hr><div class="vl"></div>
                    <p class="subheader">Arduino Kits<br><small class="price">$110</small></p>
                </div>
            </div>
        
        </div> 
        <div class="prizes-banner"></div>
    </div>
</div>
