<div class="content-container">
    <div class="header">
      <div (click)="routeTo('/home');" class="left-header">
          <img src="../../../../assets/svg/JBH_logo.svg" alt="J.B. Hunt Logo" class="logo">
          <h3 class="brand-title">Hackathon</h3>
      </div>
      <div class="right-header">
        <button (click)="routeTo('/home');" class="btn btn-small btn-yellow">Back</button>
      </div>
    </div>
    <div class="forms-container">
        <div class="options-container">
            <button (click)="routeTo('/JGdrGCSnGnLyuXYfIRfEdUDA');" class="form-button">Judge</button>
        
            
            <button onclick="document.getElementById('id01').style.display='block'" class = "form-button">Admin</button>

            <div id="id01" class="modal">
              
              <form class="content-container" action="/action_page.php" method="post">
               
                <div class="container">
                  <label for="uname"><b>Username</b></label>
                  <input type="text" placeholder="Enter Username" name="uname" class="options-container" required>
            
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psw"  class="options-container"required>
                    
                  <button type="submit" class ="options-container">Login</button>   
                </div>
            
                <div class="container" style="background-color:#f1f1f1">
                  <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                  <!--span class="psw">Forgot <a href="#">password?</a></span-->
                </div>
              </form>
            </div>
            
            <script>
            // Get the modal
            var modal = document.getElementById('id01');
            
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
            </script>
       
      
      </div>
    </div>
</div>

