.hidden {
    display: none !important;
}

.content-container {
    min-width: 100vw;
    min-height: 100vh;
    background: rgb(2, 136, 204);
    background: linear-gradient(175deg, rgb(2, 136, 204) 23%, rgb(64, 191, 253) 50%, rgb(255, 255, 255) 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: transparent linear-gradient(102deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.3411764706) 100%) 0% 0% no-repeat padding-box;
        border-radius: 7px;
        opacity: 1;
        width: 28em;
        height: 4.5em;
        margin: 0 0 1.5em 0;

        .left-header {
            display: flex;
            flex-direction: row;

            .logo {
                width: 7em;
            }

            .brand-title {
                color: white;
                font-size: 1em;
                line-height: 2em;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.module {
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;

    .back-container {
        padding: 0 0.5em;

        .back-button {
            background-color: #ffffff;
            border: none;
            cursor: pointer;
        }
    }

    .content {
        justify-self: center;

        height: fit-content;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .head {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-row: 1;
            grid-column: 2;
            height: 90px;
            width: 100%;
            text-align: center;
        }
    
        .title {
            border-bottom: 0.10em solid black;
            padding: 0.25em 3em;
        }
    }
}

.single-field {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    border-radius: 0.5em;

    input {
        margin-top: 0.15em;
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        border: 0.15em solid black;
        border-radius: 0.5em;
        color: black;
        background-color: transparent;

        &:focus {
            background-color: #ffffff33;
            box-shadow: 0px 0px 10px #FFFFFFA8;
            outline: none;
        }
    }

    .form-select-quarter {
        color: #ffffff !important;
        cursor: pointer;
        width: 30%;
    }
}

.center {
    justify-content: center;
    padding: 2.5em;
}
  

.forms-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    opacity: 1;
    width: 28em;
    height: 29em;

    .options-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .form-button {
            width: 60%;
            height: 5em;
            margin: 1em;
            border-radius: 7px;
            color: white;
            background: linear-gradient(#40BFFD, #0288CC);
            border: 1px solid #0288CC;

            &:hover {
                cursor: pointer;
                opacity: 0.9;
            }
        }
    }
}