// Theme colors.
$theme-blue: #0288CC;
$theme-grey:  #707070;
$theme-white: #ffffff;
$theme-yellow: #FFDD00;
$theme-black: #000000;
$theme-red: #CC2D24;

// Miscellaneous colors.
$borderColor: #007DBA;
$linkColor: #007dba;
$primaryBtnClr: #0288CC;