<div class="schedule">
  <img class="top-yellow-bar" src="../../../../assets/svg/HomePage_Assets/top-yellow-bar.svg" alt="top yellow bar">
  <img class="bottom-yellow-bar" src="../../../../assets/svg/HomePage_Assets/bottom-yellow-bar.svg" alt="bottom yellow bar">
  <div class="schedule-card">
    <h2 class="schedule-title">Schedule</h2>
    <div class="schedule-section">
      <h4 class="upperheader">6PM<hr></h4><div class="vl"></div>
      <p>Theme<br>announcement</p>
    </div>
    <div class="schedule-section">
      <h4 class="upperheader">9PM<hr></h4><div class="vl"></div>
      <p>Project<br>cutoff</p>
    </div>
    <div class="schedule-section">
      <h4 class="upperheader">4PM<hr></h4><div class="vl"></div>
      <p>Presentations<br>and judging</p>
    </div>
    <div class="schedule-section">
      <h4 class="upperheader">TBD<hr></h4><div class="vl"></div>
      <p>Prize<br>pickup</p>
    </div>
  </div> 
  <div class="schedule-banner"></div>
</div>