@import "../../../../styles.scss";

* {
    margin: 0;
    padding: 0;
}

.master-container {
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    padding-bottom: 40px;

    .footer-container {
        width: 80vw;
        min-width: 220px;
        background-color: #40BFFD;
        border: none;
        border-radius: 7px;
        justify-self: center;
        padding: 20px 20px;
        box-sizing: border-box;
        display: grid;

        .brand-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            .logo {
                height: 40px;
            }

            .brand-title {
                color: $theme-white;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .link-container {
            display: flex;
            align-items: center;
            list-style: none;

            .link {
                color: $theme-white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .banner {
        position: absolute;
        z-index: -1;
    }
}

@media screen and (min-width: 769px) {

    .footer-container {
        grid-template-columns: 300px auto;

        .link-container {
            justify-self: flex-end;
            min-width: 250px;
            width: 50%;
            justify-content: space-evenly;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer-container {
        gap: 10px;
        grid-template-rows: auto auto;
        grid-template-columns: auto;

        .brand-container {
            justify-self: center;
        }

        .link-container {
            width: 100%;
            grid-row: 2;
            justify-content: space-evenly;
        }
    }
}