<div class="section">
  <div class="group">
    <h2 class="section-title">Important Information</h2>
  </div>
  <p class="text-box">The J.B. Hunt Hackathon is a competition that is hosted in conjunction with the Association of
    Computing Machinery (ACM) at the <span class="highlight">University of Arkansas</span> twice each year.  The competition
    consists of teams competing against each other to develop a working prototype that is presented
    in front of a panel of J.B. Hunt judges. Participants are not required to have a computer science
    background - <span class="highlight">all majors are welcome!</span>
  </p>
</div>
<div class="resources">
  <div class="flex-container">
    <div (click)="routeTo('/resources');" class="link-container" id="frontend">
      <img class="frontend" src="../../../../assets/svg/HomePage_Assets/Resource_assets/frontend.svg" alt="frontend">
      <span class="highlight">Front-End</span>
    </div>
    <div (click)="routeTo('/resources');" class="link-container" id="backend">
      <img class="backend" src="../../../../assets/svg/HomePage_Assets/Resource_assets/backend.svg" alt="backend">
      <span class="highlight">Back-End</span>
    </div>
    <div (click)="routeTo('/resources');" class="link-container" id="programming">
      <img class="programming" src="../../../../assets/svg/HomePage_Assets/Resource_assets/programming.svg" alt="programming">
      <span class="highlight">Programming</span>
    </div>
    <div (click)="routeTo('/resources');" class="link-container" id="programming">
      <img class="programming" src="../../../../assets/svg/HomePage_Assets/Resource_assets/projects.svg" alt="projects">
      <span class="highlight">Starter Projects</span>
    </div>
    <div (click)="routeTo('/resources');" class="link-container" id="faq">
      <img class="faq" src="../../../../assets/svg/HomePage_Assets/Resource_assets/faq.svg" alt="faq">
      <span class="highlight">FAQ</span>
    </div>
    <div (click)="routeTo('/resources');" class="link-container" id="rubric">
      <img class="rubric" src="../../../../assets/svg/HomePage_Assets/Resource_assets/rubric.svg" alt="rubric">
      <span class="highlight">Rubric</span>
    </div>
  </div>
</div>